div.cl-stepnav-div {
  min-height: 35px;
  $tooltip-top: 40px;

  nav {

    ul {

      li {
        position: relative;
        border: 0;
        padding: 5px 8px 0 8px;
        height: 35px;
      }
    }

    input[type=image], nav a img {
      padding: 0;
      border: 0;
      margin: 0;
    }

    /* Tool tips */
    a {
      position: relative; /*this is the key*/
      z-index: 24;
      text-decoration: none
    }
    a:hover {
      z-index: 25;
    }

    a span {
      display: none
    }

    a:hover span { /*the span will display just on :hover state*/
      display: block;
      position: absolute;
      top: $tooltip-top;
      left: 10px;
      width: 15em;
      border: 1px solid black;
      background-color: #BBFFBD;
      color: #000;
      padding: 0 1em;
      text-align: center;
      font-size: 10pt;
    }

    .skype {
      font-size: 9px;
      text-align: center;
    }

    .skype a:link, .skype a:visited {
      color: white;
    }

  }


  li.cl-step-progress {
    position: relative;
    border: 0;
    margin: 0;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;

    @media only screen and (max-width: $medium-width) {
      display: none;
    }

      canvas {
      vertical-align: middle;
    }

    div {
      display: none;
      position: absolute;
      top: $tooltip-top;
      right: 0;
      z-index: 25;
      border: 1px solid black;
      background-color: #BBFFBD;
      color: #000;
      padding: 0 1em;
      text-align: center;
      min-width: 15em;
      white-space: nowrap;
    }
  }
}